{% extends 'base.html.twig' %}

{% block title %}home_index
{% endblock %}

{% block body %}
	Home
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" {{app.current_route == 'login' ? 'active' : ''}} href="{{ path('app_login')}}">Se connecter</a>
		</li>
    </ul>
	{% endblock %}
