{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
	<h1>{{recipe.title}}</h1>

	<p><img src="{{vich_uploader_asset(recipe, 'thumbnailFile')}}" alt="img absente">
	</p>
	{{ form(form) }}{% endblock %}
