{% extends 'admin/admin.html.twig' %}

{% block title "Recette : " ~ recipe.title %}

{% block body %}
	<h1>{{recipe.title}}</h1>

	<p><img src="/recettes/images/{{recipe.thumbnail}}" alt="rien">
	</p>
	{{ form(form) }}{% endblock %}
