{% extends 'base.html.twig' %}

{% block title "Creation recette" %}

{% block body %}
<h2>Création de nouvelle recette</h2>
<br>
<h4>Veuillez remplir tous les champs</h4><br>
	{{ form(form) }}

{% endblock %}