{% extends 'admin/admin.html.twig' %}

{% block title "Creation catégorie" %}

{% block body %}
<h2>Création de nouvelle catégorie</h2>
<br>
<h4>Veuillez remplir tous les champs</h4><br>

	{{ form(form) }}

{% endblock %}